@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: darkslategray; 
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

